{% extends '@layout/admin.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <main class="text-center" style="width: 100%">
        <style>
            body {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-align: center;
                align-items: center;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #f5f5f5;
            }

            .form-signin {
                width: 100%;
                max-width: 330px;
                padding: 15px;
                margin: auto;
            }
            .form-signin .form-control {
                position: relative;
                box-sizing: border-box;
                height: auto;
                padding: 10px;
                font-size: 16px;
            }
            .form-signin .form-control:focus {
                z-index: 2;
            }
            .form-signin input[type="text"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        </style>
        {% if user_session %}
        <a href="{{ path('logout-submit') }}">Logout</a>
        {% else %}
        <a href="https://www.facebook.com/v8.0/dialog/oauth?client_id={{ fb_id }}&redirect_uri={{ fb_redirect }}"  class="btn btn-primary btn-lg btn-block"  role="button">Login via Facebook</a>
        <form method="post" action="{{ path('login-submit') }}" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">User name</label>
            <input type="text" id="username" class="form-control" placeholder="User name" name="username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        {% endif %}
    </main>
{% endblock %}
