.app_header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    padding: var(--space-x);
    top: 0;
    right: 0;
}

.app_main {
    padding: 0;
}


.open {
    padding-right: 200px;
    transition: padding-right .2s;
}
.open .app_navigation {
    transform: translateX(0);
}

.app_navigation {
    right: 0;
    background-color: pink;
    width: 200px;
    height: 100%;
    position: fixed;
    transform: translateX(100%);
    transition: transform linear .2s;
}

.app__footer {
    padding: var(--space-x);
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.app__footer-section {}
.app__footer-headline {}
.app__footer-content {
    list-style: none;
}
.app__footer-item {}
.app__footer-link {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
.app__footer-link:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--color-accend);
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}
.app__footer-link:hover:after { transform: scaleX(1); }

.navigation {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: var(--space-m);
}

.navigation__item {
    align-self: center;
}
.navigation__link {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    /* margin: 0 var(--space-x); */
}


.navigation__link:after {
  display:block;
  content: '';
  border-bottom: solid 1px var(--color-accend);
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}
.navigation__link:hover:after { transform: scaleX(1); }
