<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    {% block javascript %}{% endblock %}
    {% block style %}{% endblock %}
    {% block stylesheets %}{% endblock %}
    <style>
        .admin {
            background-color: #f8f9fa;
        }
        .admin__header {
            background-color: #323232;
            color: white;
            padding: 0.8rem 0;
        }
        .admin__footer {
            margin-top: 1.953rem;
            padding: 1.953rem 0;
            background-color: white;
        }
    </style>
    <script src="//cdn.jsdelivr.net/npm/mutationobserver-shim/dist/mutationobserver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/2.2.10/webcomponents-bundle.js"></script>
    <script src="/scripts/components.js"></script>
</head>
<body class="admin">
    <header class="admin__header">
        <div class="container">
            Kling &amp; Bang | Admin
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer class="admin__footer">
        <div class="container">
            {% block footer %}{% endblock %}
        </div>
    </footer>
</body>
</html>
