{% extends '@layout/admin.html.twig' %}

{% block title %}Home{% endblock %}

{% block style %}
<style>
    .image-list {
        list-style: none;
        padding-left: 0;
    }
    .image-list li {
        margin: 1rem 0;
    }
    .image-list--grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin: 1rem 0;
    }
    .image-list--grid li {
        margin: 0;
    }

    .list-hidden {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .ghost {
        opacity: .4;
    }
</style>

{% endblock %}

{% block footer %}
    <div class="row">
        <div class="col">
            List of user who can currently log into klingogbang.is.
        </div>
        <div class="col">
            To create a new user, provide the email address they use to log into Facebbok.
        </div>
    </div>
{% endblock %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col-2">
                {% include '@partials/dashboard-menu.html.twig' %}
            </div>
            <div class="col-10">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col">
                            <h1 class="display-4">
                                Users
                            </h1>
                        </div>

                    </div>

                </div>
                <table>
                    <thead>
                        <tr>
                            <td>email</td>
                            <td>name</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            {{user.email}}
                        </td>
                        <td>
                            {{user.name}}
                        </td>
                        <td>
                            <a href="{{path('delete-user', {id: user.id})}}" class="btn btn-outline-danger btn-sm">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form accept="{{path('new-user')}}" method="POST" class="form-inline">
                    <div class="form-group mb-2">
                        <input type="email" name="email" class="form-control" placeholder="user email address" />
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <button type="submit" class="btn btn-primary">Create user</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
